.out {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 200;
    width: 30px;
    height: 50px;
    border: 2px solid  #f1f1f1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.in {
    position: absolute;
    z-index: 201;
    width: 5px;
    height: 5px;
    background-color: #EA4335;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    animation-name: moveBall;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}

@keyframes moveBall {
    0% {
        top: 7%;
    }
    100% {
        top : 80%
    }
}