.back{
    width: 100%;
    height: 10px;
    background-color: #030303b7;
}

.front1{
    width: 100%;
    height: 100%;
    background-color: #dc3545;
}

.rate1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.front2{
    width: 95%;
    height: 100%;
    background-color: #dc3545;
}

.rate2{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.front3{
    width: 85%;
    height: 100%;
    background-color: #dc3545;
}

.rate3{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.front4{
    width: 93%;
    height: 100%;
    background-color: #dc3545;
}

.rate4{
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.front5{
    width: 80%;
    height: 100%;
    background-color: #dc3545;
}

.rate5{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.front6{
    width: 90%;
    height: 100%;
    background-color: #dc3545;
}

.rate6{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.front7{
    width: 50%;
    height: 100%;
    background-color: #dc3545;
}

.rate7{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* -------------------------------- */

.about{
    position: relative;
}

.about::after{
    position: absolute;
    content: "";
    bottom: -7px;
    left: 0;
    width: 15%;
    height: 4px;
    background-color: #dc3545;
    margin-top: 10px;
}

.cont{
    background-color: #fff;
    box-shadow: 4px 4px 4px #ccc, -4px -4px 4px #ccc;
}

.cont p{
    line-height: 1.7;
}


/* //////////////////////////////////////// */

.about1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    z-index: 1;
}

.about1::after{
   position: absolute;
   content: "ABOUT ME";
   top: 50%;
   width:100%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   z-index: -1;
   font-size: 90px;
   color: #ccc;
   opacity: .7;
}

@media (max-width : 1200px) {
    .about1{
        font-size: 40px;
    }
    
    .about1::after{
       font-size: 80px;
    }  
}

@media (max-width : 990px) {
    .about1{
        font-size: 35px;
    }
    
    .about1::after{
       font-size: 70px;
    }  
}

@media (max-width : 796px) {
    .about1{
        font-size: 30px;
    }
    
    .about1::after{
       font-size: 60px;
    }  
}