.bg{
    background-image: url(../../Images/computer-screens-running-programming-code-empty-software-developing-agency-office-computers-parsing-data-algorithms-background-neural-network-servers-cloud-computing-data-room.jpg);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.over {
    background: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    position: absolute;
}

.cont{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 2;
}

h1{
    letter-spacing: 3px !important;
    font-size: 55px !important;
}

h5{
    word-spacing: 4px;
    font-size: 25px !important;
}
@media (max-width:1120px) {
    h1{
        letter-spacing: 2px !important;
        font-size: 45px !important;
    }
    
    h5{
        word-spacing: 4px;
        font-size: 23px;
    }
}

@media (max-width:920px) {
    h1{
        letter-spacing: 2px !important;
        font-size: 35px !important;
    }
    
    h5{
        word-spacing: 3px;
        font-size: 20px;
    }
}

@media (max-width:920px) {
    h1{
        font-size: 30px !important;
    }
    h5{
        word-spacing: 3px;
        font-size: 18px !important;
    }
}

@media (max-width:640px) {
    h1{
        font-size: 25px !important;
        width: 100% !important;
    }
    h5{
        word-spacing: 3px;
        font-size: 17px !important;
        width: 100%;
    }
}

@media (max-width:540px) {
    h1{
        font-size: 22px !important;
    }

    h5{
        word-spacing: 3px;
        font-size: 15px !important;
    }
}